Repository PetroleumCyberneticsGroup/FieldOpt, pull requests merged in 2019-03, with the labels that each got.

#126 Feature/rng removed from settings
  FieldOpt/Optimization/optimizers/GeneticAlgorithm.cpp
  FieldOpt/Optimization/optimizers/PSO.cpp
  FieldOpt/Optimization/optimizers/PSO.h
  FieldOpt/Optimization/optimizers/RGARDD.cpp
  FieldOpt/Optimization/optimizers/SPSA.cpp
  FieldOpt/Optimization/optimizers/SPSA.h
  FieldOpt/Optimization/optimizers/VFSA.h
  FieldOpt/Optimization/optimizers/bayesian_optimization/EGO.cpp
  FieldOpt/Optimization/optimizers/bayesian_optimization/af_optimizers/AFCompassSearch.cpp
  FieldOpt/Optimization/optimizers/bayesian_optimization/af_optimizers/AFPSO.cpp
  FieldOpt/Optimization/tests/optimizers/test_ego.cpp
  FieldOpt/Optimization/tests/optimizers/test_ga.cpp
  FieldOpt/Optimization/tests/optimizers/test_pso.cpp
  FieldOpt/Optimization/tests/optimizers/test_spsa.cpp
  FieldOpt/Optimization/tests/optimizers/test_vfsa.cpp
  FieldOpt/Optimization/tests/test_resource_cases.h
  FieldOpt/Optimization/tests/test_resource_optimizer.h
  FieldOpt/Runner/runners/ensemble_helper.cpp
  FieldOpt/Settings/optimizer.cpp
  FieldOpt/Utilities/Sources.cmake
  FieldOpt/Utilities/math.hpp
  FieldOpt/Utilities/random.hpp
  FieldOpt/Utilities/tests/test_math.cpp
  FieldOpt/Utilities/tests/test_random.cpp
  FieldOpt/Utilities/verbosity.h
Labels: optimization

#127 Feature/pso bug fix
  FieldOpt/Optimization/CMakeLists.txt
  FieldOpt/Optimization/optimizers/PSO.cpp
Labels: bug, enhancement

#129 Feature/simulator improvements
  FieldOpt/Model/model.cpp
  FieldOpt/Model/tests/wells/test_control.cpp
  FieldOpt/Model/wells/control.cpp
  FieldOpt/Model/wells/control.h
  FieldOpt/Runner/runtime_settings.cpp
  FieldOpt/Settings/model.cpp
  FieldOpt/Settings/model.h
  FieldOpt/Settings/paths.h
  FieldOpt/Settings/tests/test_resource_example_file_paths.hpp
  FieldOpt/Settings/tests/test_settings_model.cpp
  FieldOpt/Simulation/Sources.cmake
  FieldOpt/Simulation/simulator_interfaces/driver_file_writers/driver_parts/ecl_driver_parts/schedule_insets.cpp
  FieldOpt/Simulation/simulator_interfaces/driver_file_writers/driver_parts/ecl_driver_parts/schedule_insets.h
  FieldOpt/Simulation/simulator_interfaces/driver_file_writers/driver_parts/ecl_driver_parts/schedule_section.cpp
  FieldOpt/Simulation/simulator_interfaces/driver_file_writers/driver_parts/ecl_driver_parts/schedule_section.h
  FieldOpt/Simulation/simulator_interfaces/driver_file_writers/driver_parts/ecl_driver_parts/wellcontrols.cpp
  FieldOpt/Simulation/simulator_interfaces/driver_file_writers/driver_parts/ix_driver_parts/ix_control.hpp
  FieldOpt/Simulation/simulator_interfaces/driver_file_writers/ecldriverfilewriter.cpp
  FieldOpt/Simulation/simulator_interfaces/driver_file_writers/ecldriverfilewriter.h
  FieldOpt/Simulation/tests/simulator_interfaces/driver_file_writers/driver_parts/ecl_driver_parts/test_schedule_inset.cpp
  FieldOpt/Simulation/tests/simulator_interfaces/driver_file_writers/driver_parts/ecl_driver_parts/test_schedule_section.cpp
  examples/ECLIPSE/schedule_inset.txt
Labels: enhancement, simulation
